/*-- Universal Styles --*/
*{
  box-sizing: border-box;
} 
#body{
  background-color:#026aa7;
}

header h1{
  background-color: #094C72;
  color: white;
  padding: 15px 0;
  text-align: center;
  margin-top: 0px;
}

/* -- List Styling -- */
.list-wrapper{
  width: 272px;
  margin: 0 4px;
}
.list-header{
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
}
.list, .card-list{
 list-style-type: none; 
}
.card-list{
  padding-left: 0px;
}
.list-item{
  float: left;
  background-color: #e2e4e6;
  margin-left: 10px;
  padding: 10px;
  border-radius: 5px;
}
.card-list-item{
  background-color: white;
  margin-top: 5px;
  padding: 5px;
  border-radius: 5px;
}
/* -- Add list Button -- */
.add-list-form{
  background-color: rgba(0,0,0,0.15);
  padding: 10px 10px;
  border-radius: 5px;
}
.add-list-button{
  color: #e2e4e6;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}
.control-buttons{
  margin-top: 5px;
}
.control-buttons .btn-danger{
  margin-left: 5px;
}
/* -- Card Styling --*/
.card-heading{
  width: 210px;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  display: inline-block;
  margin-bottom: 0;
}
.add-card-form{
  margin-top: 5px;
  border-radius: 5px;
}
.add-card-button{
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 300;
}
.add-card-button:hover{
  background-color: rgba(0, 0, 0, 0.12)
}
.click-edit{
  cursor: pointer;
  padding: 5px 7px;
  border-radius: 5px;
  margin-top: -5px;
  margin-right: -5px;
}
.click-edit:hover{
  background-color: rgba(0,0,0,0.12);
}
.click-delete{
  cursor: pointer;
  padding: 5px 7px;
  border-radius: 5px;
  font-size: 18px;
}
.click-delete:hover{
  background-color: rgba(0,0,0,0.15)
}