/*-- Universal Styles --*/
*{
  box-sizing: border-box;
} 
#body{
  background-color:#026aa7;
}

header h1{
  background-color: #094C72;
  color: white;
  padding: 15px 0;
  text-align: center;
  margin-top: 0px;
}

/* -- List Styling -- */
.list-wrapper{
  width: 272px;
  margin: 0 4px;
}
.list, .card-list{
 list-style-type: none; 
}
.card-list{
  padding-left: 0px;
}
.list-item{
  float: left;
  background-color: #e2e4e6;
  margin-left: 10px;
  padding: 10px;
  border-radius: 5px;
}
.card-list-item{
  background-color: white;
  margin-top: 5px;
  padding: 5px;
  border-radius: 3px;
}
/* -- Add list Button -- */
.add-list-form{
  background-color: rgba(0,0,0,0.15);
  padding: 10px 10px;
  border-radius: 4px;
}
.add-list-button{
  color: #e2e4e6;
  font-size: 14px;
  font-weight: 400;
}
.control-buttons{
  margin-top: 5px;
}
.control-buttons .btn-danger{
  margin-left: 5px;
}
/* -- Card Styling --*/